<p *ngIf="question.resolve.withInstructions" class="text-secondary">
    Nota: {{ question.resolve.instructions }}
</p>
<div class="px-4 pt-4" fxLayout="column" fxLayoutGap="16px">
    <div fxLayout="column" fxLayoutGap="8px" fxLayoutGap.lt-sm="0">
        <div fxFlex="auto" class="border bg-card py-2 pl-2 pr-3 text-secondary shadow-8" fxLayout="row"
            fxLayoutAlign="start center">
            <ic-icon [icon]="icAttachFile" fxFlex="none" size="24px"></ic-icon>
            <input [formControl]="control"
                class="border-0 ml-4 placeholder:text-secondary subheading-2 outline-none font-medium w-0 bg-card"
                fxFlex="auto" type="text" readonly>
            <a *ngIf="!control.value" (click)="onFileChange($event)" class="rounded-full" color="primary" fxFlex="none"
                mat-raised-button type="button">Adjuntar</a>
            <button *ngIf="control.value" (click)="downloadFile()" class="rounded-full" color="primary" fxFlex="none"
                mat-raised-button type="button">
                <mat-icon aria-hidden="false">cloud_download</mat-icon>
            </button>
            <button *ngIf="control.value && !readOnly" (click)="deleteFile()" class="rounded-full" color="primary"
                fxFlex="none" mat-raised-button type="button">
                <mat-icon aria-hidden="false">delete</mat-icon>
            </button>
        </div>
        <mat-hint align="start">Formatos aceptados (.pdf, .doc, .docx, .xls, .xlsx, .png, .jpg, .jpeg)
        </mat-hint>
        <input type="file" #fileUpload id="fileUpload" name="fileUpload" accept=".doc,.docx,.pdf,.xls,.xlsx,image/*"
            style="display:none;" />
    </div>
</div>