<div (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" [class.collapsed]="collapsed"
  [class.open]="collapsed && collapsedOpen$ | async" class="sidenav flex flex-col">
  <div class="sidenav-toolbar flex-none flex items-center">
    <img [src]="imageUrl$ | async" class="w-10 select-none flex-none">
    <h2 class="title ltr:pl-4 rtl:pr-4 select-none flex-auto">{{ title$ | async }}</h2>
    <button (click)="toggleCollapse()" *ngIf="showCollapsePin$ | async"
      class="w-8 h-8 -mr-2 leading-none flex-none hidden lg:block" mat-icon-button type="button">
      <mat-icon *ngIf="!collapsed" [icIcon]="icRadioButtonChecked" size="14px"></mat-icon>
      <mat-icon *ngIf="collapsed" [icIcon]="icRadioButtonUnchecked" size="14px"></mat-icon>
    </button>
  </div>

  <div *ngIf="!loadingMenu" class="sidenav-items flex-auto pt-0" style="padding-top: 0px !important;" vexScrollbar>
    <vex-sidenav-item *ngFor="let item of itemsMenu" [item]="item" [level]="0">
    </vex-sidenav-item>
  </div>
  <div *ngIf="loadingMenu">
    <vex-skeleton-item-menu *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]"></vex-skeleton-item-menu>
  </div>
</div>