<ng-container *ngIf="form" [formGroup]="form">
    <div class="px-6 pt-2" fxLayout="column">
        <div fxLayout="row" fxLayoutGap="0px" fxLayoutGap.lt-sm="0">
            <h2 class="caption">Ejemplo</h2>
        </div>
        <div fxLayout="row" fxLayoutGap="0px" fxLayoutGap.lt-sm="0">
            <h2 fxFlex="50" class="body-2 font-medium m-0 text-secondary mt-4" fxLayout="row"
                fxLayoutAlign="start center">
                <ic-icon [icon]="icAttachFile" class="ltr:mr-4 rtl:ml-4" fxFlex="none" size="24px"></ic-icon>
                <span fxFlex="auto">File-example-04062020.pdf</span>
                <button color="primary" mat-raised-button type="button">
                    <ic-icon [icon]="icAdd" class="ltr:mr-1 rtl:ml-1 ltr:-ml-1 rtl:-mr-1" inline="true" size="18px">
                    </ic-icon>
                    <span>Adjuntar</span>
                </button>
            </h2>
        </div>
        <div fxLayout="row" fxLayoutGap="0px" fxLayoutGap.lt-sm="0">
            <mat-hint align="start">Formatos aceptados (.pdf, .doc, .docx, .xls, .xlsx, .png, .jpg, .jpeg)
            </mat-hint>
        </div>
    </div>
    <ng-container formGroupName="configuration">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
            <div @fadeInUp fxFlex="auto" fxFlex.xs="auto">
                <div class="px-6 py-2 border-b" fxLayout="row" fxLayoutAlign="start center">
                    <h2 class="body-2 m-0">Condiciones</h2>
                </div>
                <div class="px-6 py-2" fxLayout="column">
                    <div *ngIf="form.get('configuration').get('score').value" fxLayout="column">
                        <mat-checkbox color="warn" [formControl]="form.get('resolve').get('withScore')"
                            [checked]="form.get('resolve').get('withScore').value">Con
                            calificación
                        </mat-checkbox>
                    </div>
                    <div *ngIf="form.get('configuration').get('instructions').value" fxLayout="column">
                        <mat-checkbox color="warn" [formControl]="form.get('resolve').get('withInstructions')"
                            [checked]="form.get('resolve').get('withInstructions').value">Agregar instrucciones
                        </mat-checkbox>
                        <mat-form-field *ngIf="form.get('resolve').get('withInstructions').value"
                            class="mt-2 px-6  vex-dense-form-field body-1">
                            <textarea #lengthInstruccion [formControl]="form.get('resolve').get('instructions')"
                                [value]="form.get('resolve').get('instructions').value" cdkAutosizeMinRows="5" matInput
                                matTextareaAutosize placeholder="Colocar aquí instrucciones ..."></textarea>
                            <mat-hint align="start">Máximo 1000 caracteres</mat-hint>
                            <mat-hint align="end">{{lengthInstruccion.value.length}}/1000</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-6" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
            <div @fadeInUp fxFlex="auto" fxFlex.xs="auto">
                <div class="px-6 py-2 border-b" fxLayout="row" fxLayoutAlign="start center">
                    <h2 class="body-2 m-0">Etiquetas <span class="text-hint">(Presiona Enter o Coma por cada
                            etiqueta)</span></h2>
                </div>
                <div class="px-6 py-2" fxLayout="column">
                    <mat-form-field class="example-chip-list" fxFlex="auto" appearance="standard">
                        <mat-chip-list #chipList aria-label="Fruit selection">
                            <mat-chip *ngFor="let etiqueta of etiquetas" class="text-white bg-green-500"
                                [selectable]="true" [removable]="true" (removed)="remove(etiqueta)">
                                {{etiqueta}}
                                <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                            </mat-chip>
                            <input placeholder="Nueva etiqueta" [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                                (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row" class="px-6 py-2" fxLayoutAlign="end center" fxLayoutGap="8px">
            <button (click)="fnCancel()" mat-button type="button">Cancelar</button>
            <button (click)="fnPreview()" mat-button type="button">Vista previa</button>
            <button (click)="fnSave()" color="primary" mat-raised-button type="button">Guardar</button>
        </div>
    </ng-container>
</ng-container>