<p *ngIf="question.resolve.withInstructions" class="text-secondary">
    Nota: {{ question.resolve.instructions }}
</p>
<div class="px-4" fxLayout="column" fxLayoutGap="16px">
    <div fxLayout="row" fxFlex="70" fxFlex.xs="auto" gdColumns="1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr"
        gdColumns.lt-md="1fr 1fr 1fr 1fr 1fr" gdColumns.xs="1fr 1fr 1fr" gdGap="24px">
        <div *ngIf="readOnly" class="absolute top-0 right-0 bottom-0 left-0 w-full h-full z-40">
        </div>
        <button mat-icon-button [color]="'accent'" *ngFor="let option of question.resolve.options;index as i"
            (click)="onClick(option.score)" [matTooltip]="option.code" matTooltipPosition="above">
            <mat-icon class="text-amber-500" [icIcon]="showIcon(i)">
            </mat-icon>
        </button>
    </div>
    <p class="px-2 body-2">
        Tu selección es <span class="body-2">{{valorSeleccionado}}</span> / <span
            class="body-2">{{question.resolve.options.length}}</span>
    </p>
</div>