<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <p class="flex-auto text-lg font-medium">{{ 'Vista previa' }}</p>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>

<mat-divider class="-mx-6 text-border"></mat-divider>

<mat-dialog-content fxLayout="column">
    <vex-resolve-question-configuration-form [question]="question" [controlOther]="testOtherControl" [number]="1"
        [control]="testControl" [readOnly]="false">
    </vex-resolve-question-configuration-form>
</mat-dialog-content>