<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <p class="flex-auto text-lg font-medium">{{ 'Alternativas' }}</p>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>

<mat-divider class="-mx-6 text-border"></mat-divider>

<mat-dialog-content fxLayout="column">
    <div fxLayout="column" fxFlex="auto" *ngFor="let option of options">
        <h3 class="font-bold" matLine>{{option.title}}</h3>
        <p matLine>
            <span>{{option.description}}</span>
        </p>
        <mat-divider class="my-2"></mat-divider>
    </div>
</mat-dialog-content>