<div class="px-6 py-4" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
    <mat-form-field fxFlex="50%">
        <mat-label>Tipo de entrada</mat-label>
        <mat-select [formControl]="controlValue" [value]="controlValue.value">
            <mat-option [value]="'TEXT'">Texto</mat-option>
            <mat-option [value]="'NUMBER'">Número</mat-option>
            <mat-option [value]="'DATE'">Fecha</mat-option>
        </mat-select>
        <mat-hint>Seleccione el tipo de entrada para la opción otro, según lo seleccionado se validará lo ingresado.
        </mat-hint>
    </mat-form-field>
</div>