<mat-form-field *ngIf="!takeUserSede" fxFlex="auto">
    <mat-label>{{label}}</mat-label>
    <input type="text" placeholder="Busque aquí" aria-label="any" matInput [formControl]="value"
        [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" [displayWith]="getDisplayFn()">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.nombre}}
        </mat-option>
    </mat-autocomplete>
    <mat-icon [icIcon]="icSearch" matSuffix></mat-icon>
    <mat-error *ngIf="value.hasError('forceSelection')">
        Selecciona una opción
    </mat-error>
</mat-form-field>

<mat-form-field *ngIf="takeUserSede" fxFlex="auto">
    <mat-label>{{label}}</mat-label>
    <input matInput readonly [value]="value.value?.nombreSede">
</mat-form-field>