<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <div class="card" fxFlex="auto">
        <!--<div class="px-6 py-2 border-b" fxLayout="row" fxLayoutAlign="start center">
            <h2 class="subheading-2 m-0">Item</h2>
        </div>-->

        <div class="px-6 pt-2" fxLayout="column">
            <ng-container *ngIf="form" [formGroup]="form">
                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <mat-form-field fxFlex="auto">
                        <mat-label>Título</mat-label>
                        <input formControlName="title" matInput>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Tipo</mat-label>
                        <mat-select formControlName="type" (selectionChange)="typeSelectionChange($event)">
                            <mat-option *ngFor="let type of typesQuestion" [value]="type">
                                <mat-icon [icIcon]="type.icon" height="18px" width="18px"></mat-icon> {{ type.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </ng-container>
        </div>
        <mat-divider></mat-divider>
        <ng-container [ngSwitch]="question?.type">
            <!--vex-question-opcion-multiple-->
            <vex-question-opcion-multiple (cancelCreateItem)="fnCancelCreateItem($event)"
                (previewQuestion)="fnPreview($event)" (saveQuestion)="saveQuestionItem($event)" [question]="question"
                [questionEdit]="questionEdit" *ngSwitchCase="environment.typesQuestion.multipleOpcion">
            </vex-question-opcion-multiple>
            <!--vex-question-casilla-verificacion-->
            <vex-question-casilla-verificacion (cancelCreateItem)="fnCancelCreateItem($event)"
                (previewQuestion)="fnPreview($event)" (saveQuestion)="saveQuestionItem($event)" [question]="question"
                [questionEdit]="questionEdit" *ngSwitchCase="environment.typesQuestion.casillaVerificacion">
            </vex-question-casilla-verificacion>
            <!--vex-question-ranking-estrellas-->
            <vex-question-ranking-estrellas (cancelCreateItem)="fnCancelCreateItem($event)"
                (previewQuestion)="fnPreview($event)" (saveQuestion)="saveQuestionItem($event)" [question]="question"
                [questionEdit]="questionEdit" *ngSwitchCase="environment.typesQuestion.rankinkEstrella">
            </vex-question-ranking-estrellas>
            <!--vex-question-carga-archivos-->
            <vex-question-carga-archivos (cancelCreateItem)="fnCancelCreateItem($event)"
                (previewQuestion)="fnPreview($event)" (saveQuestion)="saveQuestionItem($event)" [question]="question"
                [questionEdit]="questionEdit" *ngSwitchCase="environment.typesQuestion.cargaArchivos">
            </vex-question-carga-archivos>
            <!--vex-question-cuadro-texto-simple-->
            <vex-question-cuadro-texto-simple (cancelCreateItem)="fnCancelCreateItem($event)"
                (previewQuestion)="fnPreview($event)" (saveQuestion)="saveQuestionItem($event)" [question]="question"
                [questionEdit]="questionEdit" *ngSwitchCase="environment.typesQuestion.cuadroTextoSimple">
            </vex-question-cuadro-texto-simple>
            <!--vex-question-cuadro-comentario-->
            <vex-question-cuadro-comentario (cancelCreateItem)="fnCancelCreateItem($event)"
                (previewQuestion)="fnPreview($event)" (saveQuestion)="saveQuestionItem($event)" [question]="question"
                [questionEdit]="questionEdit" *ngSwitchCase="environment.typesQuestion.cuadroComentario">
            </vex-question-cuadro-comentario>
            <!--vex-question-cantidad-->
            <vex-question-cantidad (cancelCreateItem)="fnCancelCreateItem($event)" (previewQuestion)="fnPreview($event)"
                (saveQuestion)="saveQuestionItem($event)" [question]="question" [questionEdit]="questionEdit"
                *ngSwitchCase="environment.typesQuestion.Cantidad">
            </vex-question-cantidad>
            <!--vex-question-fecha-hora-->
            <vex-question-fecha-hora (cancelCreateItem)="fnCancelCreateItem($event)"
                (previewQuestion)="fnPreview($event)" (saveQuestion)="saveQuestionItem($event)" [question]="question"
                [questionEdit]="questionEdit" *ngSwitchCase="environment.typesQuestion.FechaHora">
            </vex-question-fecha-hora>
        </ng-container>
    </div>
</div>