<p *ngIf="question.resolve.withInstructions" class="text-secondary">
    Nota: {{ question.resolve.instructions }}
</p>
<div class="px-4" fxLayout="column" fxLayoutGap="16px">
    <div fxLayout="column" fxLayoutGap="8px">
        <div *ngIf="readOnly" class="absolute top-0 right-0 bottom-0 left-0 w-full h-full z-40">
        </div>
        <mat-checkbox *ngFor="let option of question.resolve.options" class="example-radio-button" [value]="option.code"
            (change)="fnSelect(option.code, $event)" [checked]="selection.isSelected(option.code)">
            {{ option.title }}
        </mat-checkbox>
        <mat-checkbox *ngIf="question.resolve.withOtherOption" [value]="'OTHER'" class="example-radio-button"
            (change)="fnSelect('OTHER', $event)" [checked]="selection.isSelected('OTHER')">
            Otro(s)
        </mat-checkbox>
    </div>
    <div fxLayout="row">
        <mat-form-field *ngIf="showOther && controlOther" fxFlex="80" fxFlex.xs="auto">
            <input [formControl]="controlOther" placeholder="Ingresa aquí otro ..." matInput [readonly]="readOnly">
        </mat-form-field>
    </div>
</div>